* text=auto eol=lf

[attr]lfs-attr filter=lfs diff=lfs merge=lfs -text

*.c         text eol=lf
*.h         text eol=lf
*.cpp       text eol=lf
*.hpp       text eol=lf
*.cxx       text eol=lf
*.cxx       text eol=lf
*.S         text eol=lf
*.inc       text eol=lf
*.ld        text eol=lf
*.md        text eol=lf
*.sh        text eol=lf
*.py        text eol=lf
*.cmake     text eol=lf

*.bin       binary

*.json      text eol=lf
CMakeLists.txt text eol=lf

*.png       binary
*.jpg       binary
